<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name5C2C7144="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Quote Dash</title>
</head>

<body>
    <div class="d-flex justify-content-between">
        <!-- header div -->
        <h1 class="text-center">Welcome {{user.first_name}} {{user.last_name}}!</h1>
        <a href="/edit_user">Edit my Account</a>
        <a href="/logout" class="btn btn-danger">Log Out</a>
    </div> <!-- header div ends -->

    <div class="d-flex justify-content-around">
        <!-- content div -->
        <div class="col-6 d-flex flex-column justify-content-around">
            <!-- card div -->
            {% for quote in all_quotes %}
            <div class="card col=4 my-2" style="background-color:lightgray">                
                <p class="card-title">{{ quote.author }}: "{{ quote.quote }}"</p>
                <p class="card-text">Posted by <a href="/show_user/{{quote.user.id}}">{{ quote.user.first_name }} {{quote.user.last_name }}</a></p>
                {% if quote.likes.count == 1 %}
                <p class="card-text">{{ quote.likes.count }} person likes this</p>
                {% endif %}
                {% if quote.likes.count > 1 %}
                <p class="card-text">{{ quote.likes.count }} people like this</p>
                {% endif %}
                <a href="/like/{{quote.id}}/{{user.id}}" class="btn btn-success">Like!</a>
                {% if quote.user.id == user.id %}
                <a href="delete_quote/{{quote.id}}">Delete</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <!--card div ends -->

        <div class="col-6 d-flex flex-column justify-content-around">
            <!-- add quote div -->
            <form action="/add_quote" method="post" class="col-4 p-3">
                <h2 class="text-center">Add a Quote!</h2>
                {% csrf_token %}

                <div class="form-group">
                    <label for="title">Author</label>
                    <input type="text" name="author" class="form-control col-12">
                    <span class="text-danger">
                        {% for message in messages %}
                        {% if message.tags == 'author error' %}
                        {{message}}
                        {% endif %}
                        {% endfor %}
                    </span>
                </div>

                <div class="form-group">
                    <label for="quote">Quote</label>
                    <input type="text" name="quote" class="form-control">
                    <span class="text-danger">
                        {% for message in messages %}
                        {% if message.tags == 'quote error' %}
                        {{message}}
                        {% endif %}
                        {% endfor %}
                    </span>
                </div>
                <input type="submit" value="Submit" class="btn btn-info btn-outline-warning">
            </form>
        </div><!-- add quote div ends -->

    </div> <!-- content div ends -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>